<div class="row justify-content-center">
  <div class="col-6">
    <form class="form-inline">
      <div class="form-group mx-sm-4 mb-2">
        <input type="input" class="form-control" id="areaCodeUserInput" placeholder="Enter and area code">
        {{!-- <label for="inputBurger" class="sr-only">Add a New Burger</label> --}}
      </div>
      {{!-- need a second input for search term --}}
      {{!-- need to figure out how to display this --}}
      <button id="areaCodeSearchBtn" type="submit" class="btn btn-primary mb-2">Search by Area Code</button>
    </form>
  </div>
</div>