<section class="container">
  <div class="col-md-12">
    <div class="row justify-content-center">


      <div class="col-md-6 border-right">
        <h2>Data for Movie: </h2>
        <br>

          {{#each movies }}
          <li>{{title}}</li>
          {{/each}}

        <ul class="list-group">
         
          <li class="list-group-item list-group-item-primary"></li>
          
        </ul>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Like</a>
        </div>
      </div>



    </div>
  </div>
</section>